.App {
  text-align: center;
  background-image: url('../public/e-learning.png'); 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  font-family: 'Courier New';

}
.columns-container {
  display: flex;
  justify-content: space-between;
}

.input {
  border-radius: 10px;
  outline: 2px solid #36adc7;
  border: 0;
  font-family: 'Courier New';
  background-color: #ffffff;
  outline-offset: 3px;
  padding: 10px 3rem;
  transition: 0.25s;
width: 75%;

}

.input:focus {
  outline-offset: 5px;
  background-color: #fff
}


.input {
  /* Your input styling */
  margin: 15px; /* Add some margin to separate inputs */
}


button {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: .8em 1.3em 1.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}


button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}

.card{
  width: 500px;
  height: 170px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
}
#updateInput{
  width: 100px;
  height: 20px;
  margin-bottom: 10px;

}


.required-field::after {
  content: "*";
  color: red;
  margin-left: 5px; 
}
.input-with-asterisk {
  position: relative;
}

.input-with-asterisk .red-asterisk {
  position: absolute;
  top: 50%;
  right: 5px; /* Adjust the right spacing as needed */
  transform: translateY(-50%);
  color: red;
}

.input-with-asterisk select {
  border-radius: 10px;
  outline: 2px solid #36adc7;
  border: 0;
  font-family: inherit; /* Inherit font from parent */
  background-color: #ffffff;
  outline-offset: 3px;
  padding: 10px 3rem;
  transition: 0.25s;
  flex: 1; /* Allow the select element to expand and fill the remaining space */
  width: 103%; /* Set the width to 100% to match the other input fields */
  margin: 15px; /* Add some margin to separate inputs */
}

.date{
  color: #ffffff;
  font-size: 50px;
  /* padding: 5px; */
  align-items: center;
  justify-content: center;
  margin-left: 45px;
  margin-bottom: 55px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 255, 157, 0.8), 0 0 15px rgba(0, 255, 234, 0.8);
  /* You can adjust the color and blur radius as needed */
  animation: glow 1s infinite alternate; /* Add animation */
}
.transparent-link {
  background-color: transparent;
  color: transparent;
  text-decoration: none;
  
}
.invisible-div {
  visibility: hidden;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
} */

.vtext{
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;

}