@media (max-width: 768px) {
  .card-container {
    width: 100%; /* Adjust width for smaller screens */
  }

  .card-btn {
    width: 100%; /* Make buttons full width on smaller screens */
  }
}



.card-container {
    width: 50%;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #79fbff;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: rgb(219, 219, 219);
    height: inherit;
  }
  
  .card-img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  
  .card-title {
    margin: 0.5rem 5%;
  }
  
  .card-description {
    margin: 0.5rem 5%;
  }
  
  .card-btn {
    text-align: center;
    width: 80%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #7d8cad;
    color: white;
    text-decoration: none;
    margin: 0.5rem 0.5rem;
  }
  /* .bg{
    background-image: url('./one.PNG');
    height: 10px;
    width: 10px;
  } */

